body {
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
	color: #212121;
}
.list {
	list-style: none;
}

.logo {
	font-family: Raleway, sans-serif;
	font-weight: bold;
	font-size: 26px;
	line-height: 1.192;
	letter-spacing: 0.03em;
}
.web-logo {
	color: #2196f3;
}
.nav-link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.142;
	letter-spacing: 0.02em;
	color: #212121;
}
.active:hover,
.active:focus {
	color: #2196f3;
	font-weight: bold;
}
.contacts {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.142;
	letter-spacing: 0.02em;
	color: #757575;
}
.studio-actv {
	color: #2196f3;
	font-weight: bold;
}
.portfolio-atcv {
	color: #2196f3;
	font-weight: bold;
}

.hero {
	background-color: #757575;
	padding: 400px 150px;
}
.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 60px;
	color: #ffffff;
}
.order {
	background-color: #2196f3;
	color: #ffffff;
	padding: 12px 20px;
}

.title-section {
	font-weight: bold;
	font-size: 36px;
	line-height: 1.1666;
	text-align: center;
	letter-spacing: 0.03em;
	color: #212121;
}
.feature-title {
	font-weight: bold;
	font-size: 14px;
	line-height: 1.142;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #212121;
}
.feature-description {
	font-size: 14px;
	line-height: 1.714;
	letter-spacing: 0.03em;
	color: #757575;
}
.what-doing {
	color: #ffffff;
	background-color: rgba(47, 48, 58, 0.8);
	width: 370px;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.142;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
.gray {
	background: #f5f4fa;
}
.comand-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.187;
	letter-spacing: 0.03em;
	color: #212121;
}
.comand-work {
	font-size: 16px;
	line-height: 1.187;
	letter-spacing: 0.03em;
	color: #757575;
}
.footer-bg {
	background: #2f303a;
}
.footer-logo {
	color: #ffffff;
}
.non-italic {
	font-style: normal;
}
.adrs {
	color: #ffffff;
	font-size: 14px;
	line-height: 1.714;
	letter-spacing: 0.03em;
}
.contacts-footer {
	font-size: 14px;
	line-height: 1.714;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}
.join-in {
	font-weight: bold;
	font-size: 14px;
	line-height: 1.142;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
}
.ftr-social {
	color: #ffffff;
}

/* portfolio */
.btn {
	border: none;
	background-color: transparent;
	background: #f5f4fa;
	border-radius: 4px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
}
.btn:hover,
.btn:focus {
	background-color: #2196f3;
	color: #ffffff;
}
.example-title {
	font-weight: bold;
	font-size: 18px;
	line-height: 2;

	letter-spacing: 0.06em;

	color: #212121;
}
.example-description {
	font-size: 16px;
	line-height: 1.875;

	letter-spacing: 0.03em;

	color: #757575;
}
